<br/>
<tr>
    <td ><input type="text" style="margin-left: 12cm;" name="examId" [(ngModel)] = "examId"><br/><br/>
        <button class="btn btn-outline-info" (click)="getScoreByExamId()" style="margin-left: 12.5cm;">Score</button></td>
    </tr>
    <br/>
    <br/>
    <div class="grid-container">
                             <div class="card" style="width: 18rem;">
                         
                          <div class="card-body">
                        
                        <!-- <div> Exam Id  {{exam.examId}}</div> -->
                          <div> Score : {{exam.score}}</div>
                          
                          <!-- <div> Answer {{exam.studentAnswer}}</div> -->
                          <!-- </div> -->
                          </div>
                          <br/>
                        <!-- </div> -->
                      </div>
                   
        
    </div>
      
                    <br/> 
